<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link href="//db.onlinewebfonts.com/c/7cc6719bd5f0310be3150ba33418e72e?family=Comic+Sans+MS" rel="stylesheet" type="text/css"/> 
    <style>
      body {
        font-family: 'Comic Sans MS', sans-serif;
      }
    </style>
  </head>
    